{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 50px;">
        <div style="padding:15px;text-align:center;">
          <img src="static/botlogo.jpg" class="img-responsive" width="128" height="128">
        </div>
        <!--About Our Project to be implemented here--> 
        <div class="container mt-3">   
          <form action="/action_page.php">
            <div class="input-group mb-3">
              <h1>About Our Project</h1>
              <p text="black" align="justify">TwitterBot is a tool to make an estimate of the number of Fake,
              Doubtful and Real followers of a Twitter User. This project was done for the course CSCI 6221
              Advanced Software Paradigms, Spring 2019 by four students of The George Washington University.</p>
          </form>
        </div>         
    </div>
{% endblock content %}