{% extends "layout.html" %}
{% block content %}
<div style="margin-top: 50px;">
  <div style="padding:15px;text-align:center;">
    <img src="static/botlogo.jpg" class="img-responsive" width="128" height="128">
  </div>
  <!--About Our Project to be implemented here-->
  <div class="container mt-3">
    <form action="/action_page.php">
      <h1 text="black" align="justify">Our Team</h1>
      <p>Alvaro Albero</p>
      <p>Devyani Raghuvanshi</p>
      <p>Kevin Study</p>
      <p>Shritama Sengupta</p>
    </form>
  </div>
</div>
{% endblock content %}